@font-face {
    font-family: 'Roche Serif';
    src: url("https://fonts.roche.com/fonts/RocheSerif-Light.ttf") format("truetype"), url("https://fonts.roche.com/fonts/RocheSerif-Light.woff") format("woff"), url("https://fonts.roche.com/fonts/RocheSerif-Light.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roche Serif';
    src: url("https://fonts.roche.com/fonts/RocheSerif-Italic.ttf") format("truetype"), url("https://fonts.roche.com/fonts/RocheSerif-Italic.woff") format("woff"), url("https://fonts.roche.com/fonts/RocheSerif-Italic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Roche Serif';
    src: url("https://fonts.roche.com/fonts/RocheSerif-LightItalic.ttf") format("truetype"), url("https://fonts.roche.com/fonts/RocheSerif-LightItalic.woff") format("woff"), url("https://fonts.roche.com/fonts/RocheSerif-LightItalic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Roche Serif';
    src: url("https://fonts.roche.com/fonts/RocheSerif-Regular.ttf") format("truetype"), url("https://fonts.roche.com/fonts/RocheSerif-Regular.woff") format("woff"), url("https://fonts.roche.com/fonts/RocheSerif-Regular.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}
